.chapter {
  padding: 3rem 1.5rem;
  background-color: rgb(16, 16, 16);
  border-radius: .75rem;
    display: grid;

    & > :nth-child(n + 2) {
        margin-top: 72px;
    }

    &-title {
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #282828;
    }

    &-contents {
        font-size: 18px;
        line-height: 30px;
    }

    &-item {
        margin-top: 0.5rem;
    }

    &-link {
      display: inline;
        color: #08bdba;
    }
}
