.chart {
    &-tooltip {
        background-color: #181818;
        padding: 0.5rem;
        border-radius: 6px;
    }

    &-item {
        color: #ffffff;
        display: grid;
        grid-template-columns: 108px 36px;
        column-gap: 0.5rem;
        line-height: 16px;
        font-size: 12px;
    }

    &-value {
        font-family: monospace;
        text-align: right;
    }

    &-source {
        display: inline-block;
        width: 100%;
        color: #707070;
        text-align: center;
        font-weight: 500;
        font-size: 10px;
        line-height: 18px;
        margin: 0.5rem auto 0;
    }
}
