.chart {
    width: 100%;
    height: 480px;

    &-tooltip {
        background-color: #181818;
        padding: 0.5rem;
        border-radius: 6px;
        font-size: 12px;
        line-height: 16px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: .5rem;
    }

    &-item {
        &:nth-child(odd) {
            font-weight: 500;
        }
        &:nth-child(even) {
            color: #A8A8A8;
        }
    }
}
