.masthead {
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: linear-gradient(#00000000, #000000), url('/assets/img/splash.jpg') no-repeat;
    background-size: cover;
    padding-bottom: 3rem;

    &-content {
        padding: 0 1.5rem;
        text-align: center;
        justify-items: center;
        display: grid;
        row-gap: 1.5rem;
        max-width: 720px;
    }

    &-title {
        font-weight: 500;
    }

    &-caption {
        max-width: 480px;
    }

    &-button {
        width: 3rem;
        height: 3rem;
        margin-top: 1.5rem;
        padding: 0.75rem;
        border: 1px solid white;
        border-radius: 8px;
    }

    &-icon {
        height: 1.5rem;
        width: 1.5rem;
    }
}
